<h1>jobs.familab.org</h1>
<hr>
<div class = "unapplied">
<%=
	render(:partial => "positions/unapplied",
	:locals =>{ :unapplied_positions => @open_positions })
%>
</div>
<hr>
<div class = "job_seekers">
<%=
	render(:partial => "profiles/job_seekers",
	:locals =>{ :job_seekers => @job_seekers })
%>
</div>
<hr>
<% if user_signed_in? %>
    <%= link_to 'Create Job Position', new_position_path %> |
	<% if current_user.profile != nil %>
		<%= link_to 'Profile', profile_path(current_user.profile) %>
	<% else %>
		<%= link_to 'Profile', new_profile_path %>
	<% end %>
<% end %>


