<h3>Open positions</h3>

<table>
  <tr>

    <th>Title</th>
    <th>Description</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @positions.each do |position| %>
  <tr>
    	<td><%= check_box('position','applied_to_position') %> <%= position.title %></td>
    	<td><%= position.description %></td>
    	<td><%= position.rate %></td>
    	<td><%= link_to 'Show', position %></td>
  </tr>
<% end %>
</table>
<br />


