<h3>Open positions</h3>
<% form_tag applied_position, :method => :put do %>
<table>
  <tr>

    <th>Title</th>
    <th>Description</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @positions.each do |position| %>
  <tr>
    	<td><%= check_box_tag "position id", position.id %> <%= position.title %></td>
    	<td><%= position.description %></td>
    	<td><%= position.rate %></td>
    	<td><%= link_to 'Show', position %></td>
  </tr>
<% end %>
<%= submit_tag "Apply"%>
<% end %>
</table>
<br />


