<h3>Unapplied positions</h3>


<table>
  <tr>

    <th>Title</th>
    <th>Description</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= form_tag :apply_positions, :method => :put do %>

<% unapplied_positions.each do |position| %>

  <tr>
	    <td><%= check_box('position', 'apply', { :index => position.id }, checked_value = "1" , unchecked_value = "0") %> <%= position.title %></td>
    	<td><%= position.description %></td>
    	<td><%= position.rate %></td>
    	<td><%= link_to 'Show', position %></td>
  </tr>
<% end %>

<%= submit_tag "Unapply"%>
<% end %>
</table>
<br />


